<%- include("/includes/head.ejs") %>
  <body>
    <header>
      <nav>
        <ul>
          <li class="lis" id="li1">
            <a href="http://localhost:8080/home">Home</a>
          </li>
          <li class="lis" id="li2">
            <a href="http://localhost:8080/about">About</a>
          </li>
          <li class="lis" id="li3">
            <a href="http://localhost:8080/product">Product</a>
          </li>
        </ul>
      </nav>
      <button id="btnSignUp">Sign Up</button>
    </header>
    <main>
      <h1>About</h1>
      <h2>
        About Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum vel,
        laborum, iure rem ad consectetur possimus temporibus sed incidunt
        voluptatum voluptate animi odit delectus magnam totam quos officiis, at
        vero?
      </h2>
    </main>
  </body>
</html>
