<%- include("/includes/head.ejs") %>

  <body>
    <table border="2">
      <%
      <tr>
        %>
        <td><%= email %></td>
        <td><%= password %></td>
        <td><%= name %></td>
        <%
      </tr>
      %>
    </table>
  </body>
</html>
